@import "compass/css3";

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}

#svg #bar {
  stroke: #FF9F1E;
}
#svg #bar2 {
  stroke: #666;
}

#cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
  position: relative;
}
#cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 1em black;
  content: attr(data-pct)"%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  text-shadow: 0 0 0.5em black;
}

input {
  color: #000;
}


/* Make things perty */
html {  height: 100%;}
body { font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;  background-color: #0d0d0d; color: #fff; height: 100%; padding-top: 2em; text-align: center;}
h1, h2{ margin: 0; text-transform: uppercase;text-shadow: 0 0 0.5em black;}
h2 { font-weight: 300}
input { border: 1px solid #666; background: #333; color: #fff; padding: 0.5em; box-shadow: none; outline: none !important; margin: 1em  auto; text-align: center;}

.console-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: scroll;
}

@import "compass/css3";

.progress {
  width: 100%;
  height: 30px;
}
.progress-wrap {
  background: #FF9F1E;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.progress2 {
  width: 100%;
  height: 30px;
}
.progress-wrap2 {
  background: #FF9F1E;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .progress-bar2 {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.progress3 {
  width: 100%;
  height: 30px;
}
.progress-wrap3 {
  background: #FF9F1E;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .progress-bar3 {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.progress4 {
  width: 100%;
  height: 30px;
}
.progress-wrap4 {
  background: #FF9F1E;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .progress-bar4 {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.progress5 {
  width: 100%;
  height: 30px;
}
.progress-wrap5 {
  background: #FF9F1E;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .progress-bar5 {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.progress6 {
  width: 100%;
  height: 30px;
}
.progress-wrap6 {
  background: #FF9F1E;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .progress-bar6 {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.half-box {
  width:45%;
  margin: 0 auto;
  display: inline-block;
}